[submodule "src/github.com/songgao/water"]
	path = src/github.com/songgao/water
	url = https://github.com/songgao/water.git
[submodule "src/github.com/agl/ed25519"]
	path = src/github.com/agl/ed25519
	url = https://github.com/agl/ed25519.git
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "src/cypherpunks.ru/balloon"]
	path = src/cypherpunks.ru/balloon
	url = git://git.cypherpunks.ru/balloon.git
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml.git
	branch = v2
